{% extends 'base.html' %}
{% block content %}
    <h1>About</h1>
    <p>
    Ancient Saiyans existed long ago. Aside from time travelers, none still exist in the modern time. 
    They possess ki completely different from their modern day counterparts and like them can transform 
    into the Great Ape, Super Saiyan, Super Saiyan 2, Super Saiyan 3 and Super Saiyan God forms. One of 
    these Ancient Saiyans was the previous Super Saiyan and "Super Saiyan God". Another Ancient Saiyan 
    displayed the unique "Evil Saiyan" state and as an extension of this, their golden-haired Super Saiyan 
    forms possessed differences to modern Saiyans and they were capable of drawing out the full power of 
    Super Saiyan 3. Good ancient Saiyans are referred to as "the defeated" by Giblet.
    </p>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Goku</h3>
            <p>
                Son Goku (孫そん悟ご空くう Son Gokū), born Kakarot (カカロット Kakarotto), is the main 
                protagonist of the Dragon Ball metaseries. Goku is a Saiyan originally sent to destroy 
                Earth as an infant. However, a head injury at an early age alters his memory, ridding 
                him of his initial destructive nature and allowing him to grow up to become one of Earth's 
                greatest defenders. He constantly strives and trains to be the greatest warrior possible, 
                which has kept the Earth and the universe safe from destruction many times. Goku is based 
                off Sun Wukong, a legendary figure from the 16th century Chinese novel Journey to the West. 
                The original incarnation of Goku in the Dragon Ball prototype Dragon Boy was Tangtong.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://media.japanpowered.com/images/goku.png">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.giantbomb.com/uploads/scale_super/1/12541/3041772-b3a.png">
        </div>
        <div class="col-md-7">
            <h3>Vegeta</h3>
            <p>
            Vegeta (ベジータ Bejīta), more specifically Vegeta IV (ベジータ四世 Bejīta Yonsei), recognized as 
            Prince Vegeta (ベジータ王子 Bejīta Ōji) is the prince of the fallen Saiyan race and one of the main 
            characters of the Dragon Ball series. Regal, egotistical, and full of pride, Vegeta was once a 
            ruthless, cold-blooded warrior and outright killer, but later abandons his role in the Frieza Force, 
            instead opting to remain and live on Earth. His character evolves from villain, to anti-hero, then to 
            hero through the course of the series, repeatedly fighting alongside the universe's most powerful warriors 
            in order to protect his new home and surpass Goku in power. Vegeta tends to be hotheaded and quick-tempered 
            during battles, especially ones not in his favor. According to Whis, the Saiyan Prince is too tense during 
            fights and thinks too much before acting, putting a limit on his speed. Whis recommended that Vegeta needs 
            to relax once in a while and not be so focused on training constantly since it is too intense for him to 
            concentrate.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md 7">
            <h3>Broly</h3>
            <p>
            Broly (ブロリー Burorī) is the son of Paragus. Broly is a light-skinned Saiyan with dark eyes and black spiky hair reaching his mid-back with short 
            bangs framing his forehead. When he was a kid, he wore a black one-strap tunic with gray pants and 
            brown boots, alongside a rope belt and bracelets. His facial expression, even before wearing the crown, had a melancholic demeanor to it. 
            He is shirtless while wearing white pants with a red sash draped around his waist and secured by a yellow 
            belt with a blue gem-center. He also wears similar yellow boots with a blue gem at the top the front. It is 
            implied that the outfit was made of a similar material to the Battle Armor, regardless of what size-increasing 
            transformation he used, his clothing always remained intact and grew in size with him. To better control Broly 
            and his power as his mental-instability continued to grow, Paragus placed a crown on Broly's forehead, along with 
            wristbands and a necklace with a flat plate over the chest, each which are golden with a blue gem. Broly also wore 
            golden bands over his biceps. After breaking free from Paragas' control, Broly's crown, neckband and armbands were 
            destroyed. After Broly's defeat against Goku, he obtained scorch marks across his chest.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/ddrxd6m-1a8f3aaa-f33e-419f-81b0-779b6cc71afb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRkYzEzYjctYTJlNy00YjQ1LTgzZWMtMzExZTcyZTgyOTAwXC9kZHJ4ZDZtLTFhOGYzYWFhLWYzM2UtNDE5Zi04MWIwLTc3OWI2Y2M3MWFmYi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.TEsHDbwA9PxzSaUiluIYxSBfUbrbctaT0gou_31yfiw">
        </div>
    </div>
{% endblock %}