{% extends 'base.html' %}
{% block content %}

    <h1>{{ page_title }}</h1>
    <p>
    Ancient Saiyans existed long ago. Aside from time travelers, none still exist in the modern time. 
    They possess ki completely different from their modern day counterparts and like them can transform 
    into the Great Ape, Super Saiyan, Super Saiyan 2, Super Saiyan 3 and Super Saiyan God forms. One of 
    these Ancient Saiyans was the previous Super Saiyan and "Super Saiyan God". Another Ancient Saiyan 
    displayed the unique "Evil Saiyan" state and as an extension of this, their golden-haired Super Saiyan 
    forms possessed differences to modern Saiyans and they were capable of drawing out the full power of 
    Super Saiyan 3. Good ancient Saiyans are referred to as "the defeated" by Giblet.
    </p>

{% for member in company %}

    <div class="row featurette">

        {% if loop.index %2 != 0 %}

        <div class="col-md-7">
            <h3><a href="/about/{{ member.url}}"> {{ loop.index }}. {{ member.name }}</a></h3>
            <p>
                {{ member.description }}
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{ member.image_source }}">
        </div>
        {% else %}
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{ member.image_source }}">
        </div>
        <div class="col-md-7">
            <h3><a href="/about/{{ member.url}}"> {{ loop.index }}. {{ member.name }}</a></h3>
            <p>
                {{ member.description }}
            </p>
        </div>
        {% endif %}

    </div>
    {% if loop.index !=3 %}
    <hr class="featurette-divider">
    {% endif %}

{% endfor %}

{% endblock %}